{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}

{% block title %}{%t "Mata Pencaharian" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
<link rel="stylesheet" type="text/css" href="/js/jcarousel/skins/ie7/skin.css" />
<script type="text/javascript" src="/js/jcarousel/lib/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jcarousel/lib/jquery.jcarousel.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#mycarousel').jcarousel();
        });
</script>

{% endblock %}


{% block content %}
<h2>{% t "Selamat datang" %}</h2>

{% easy_map lokasi 600 400 8 using "map.html" %}

{% endblock %}

{% block sidebar %}
{% if user.is_staff %}
<p><a href="/people/create" class="uiButton"><span class="iconAdd"></span>{% t "Tambah anggota" %}</a></p>
{% endif %}
<h2><i class="icon_small user"></i>{% t "Anggota" %}</h2>
<ul id="mycarousel" class="jcarousel-skin-ie7">
  {% for people in peoples %}
  <li><img src="/img/{{people.photo.id}}" title="{{ people.name }}" width="75" height="75"/></li>
  {% endfor %}
</ul><br />

<div id="about">
{% t "<strong>Livelihood Members Database</strong> adalah tempat produksi dan potensi sumber daya manusia dimana para penjual dan pembeli bisa bertemu. Menyediakan fasilitas untuk sertifikasi produk yang dapat ditelusuri keberadaannya, lengkap dengan koordinat GPS para anggota." %}

</div>

{% endblock %}
