{% load lang %}
{% load easy_maps_tags %}
{% load livecenter %}

<h2>{% t "Tambah laporan kelompok" %} {{ group.name }}</h2>
{% if not cluster %}
    <p><br/><strong>Error!</strong><br/><br/>
    You can not create group on {{category.name}} category.<br/>You have to create cluster for this category first.
    </p>
{% else %}
<form name="fcategory" action="/group/add_report/{{ group.key }}" class="validate" method="POST" enctype="multipart/form-data">
    <table width="uiGridView" border="0" cellpadding="0" cellspacing="4">
<tr><td class="xc">{% t "Gugusan" %}</td><td>
    <select name="cluster">
        {% for item in cluster %}
            <option value="{{item.key}}" {% if item.key == group.livecluster.key %} selected="selected" {%endif%}>{{item.name}}</option>
        {% endfor %}
    </select>
</td></tr>
    <tr><td><span>{% t "Nama Kelompok" %}</span></td><td>
    	<input type="text" name="name" class="xe" value="{{group.name}}" required="required" readonly />
	<input type="hidden" name="name_key" value="{{group.key}}" />
    </td></tr>
    <tr><td><span>{% t "Nama Laporan" %}</span></td><td>
    	<input type="text" name="name" class="xe" value="{{group.name}}" required="required" />
    </td></tr>
        <tr><td><span>{%t "Laporan Periode" %}</span></td><td>
    <input type="text" size="12" id="date" name="date" value="{{group.year}}" />
    </td></tr>
    {% for x in customfields %}
    <tr><td><span>{% t x.title %}<br/><i>{% t x.description %}</i></span></td><td>
        {{group|metaform:x}}</td></tr>
    {% endfor %}

<tr><td><span>{% t "Sekilas tentang kelompok ini" %}</span></td><td>
<textarea class="xe" rows="4" name="info">{{group.info}}</textarea></td></tr>
</table>
<p class="formsetaction">
<input type="submit" value={% t "Simpan" %} class="uiButton_blue" />
</p>
</form>
{% endif %}
