{% load lang %}
{% load livecenter %}

<h2><i class="icon_small group"></i>{% t "Tambah kelompok" %}</h2>

<form name="form1" action="/group/create/{{livecenter.key}}/{{cluster.key}}?{{request.GET|dictquery}}" class="validate" method="POST" enctype="multipart/form-data">
    <table width="uiGridView" border="0" cellpadding="0" cellspacing="4">
        <tr>
            <td class="xc">{% t "Mata pencaharian" %}</td>
            <td>{{livecenter.name}}</td>
        </tr>
        <tr>
            <td class="xc">{% t "Gugusan" %}</td>
            <td>{{cluster.name}}</td>
        </tr>
        <tr>
            <td>{% t "Nama kelompok" %}</td>
            <td><input type="text" name="name" class="xe" value="" required="required" /></td>
        </tr>
        {% for x in customfields %}
        <tr>
            <td><span class="trans">{{x.title}}<br/><i>{{x.description}}</i></span></td>
            <td>{{x|metaform:x}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>{% t "Lokasi" %}</td>
            <td>
                <p>
                <fieldset id="fgeopos"><legend>{% t "Koordinat GPS" %}</legend>
                    <span>{% t "Utara" %}</span> :
                    <input name="n1" id="n1" type="text" class="auto" alt="n3x3p0S" size="3" />
                    <input name="n2" id="n2" type="text" class="auto" alt="n2x3p4S" size="10" /> &nbsp;
                    <span>{% t "Timur" %}</span> :
                    <input name="e1" id="e1" type="text" class="auto" alt="n3x3p0S" size="3" />
                    <input name="e2" id="e2" type="text" class="auto" alt="n2x3p4S" size="10" />
                </fieldset>
                <input name="geo_pos" id="geo_pos" type="hidden" value="{{geo_pos}}" />
                </p>
            </td>
        </tr>
        <tr>
            <td>{% t "Penjelasan singkat mengenai kelompok ini" %}</td>
            <td><textarea class="xe" rows="4" name="info"></textarea></td>
        </tr>
        <tr>
            <td>{% t "Foto" %}</td>
            <td><input type="file" name="photo" /></td>
        </tr>
    </table>
    <p class="formsetaction">
    <input type="submit" value=" {%t "Simpan" %} " class="uiButton_blue" />
    </p>
</form>
<script type="text/javascript">
    document.form1.name.focus();
</script>
