{% extends 'base.html' %}
{% load lang %}
{% load livecenter %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/form.css" />
{% endblock %}

{% block title %}{% if form.instance.id %}{{ form.instance.name }}{% else %}{% t "Kelompok baru" %}{% endif %}{% endblock %}

{% block content %}

<h2>
{% if form.instance.id %}
{% t "Kelompok" %} {{ form.instance.name }}
{% else %}
{% t "Kelompok baru" %}
{% endif %}
</h2>
{{ form.non_field_errors }}
<form action="{{request.path}}?{{request.GET|dictquery}}" method="POST" enctype="multipart/form-data">
    {{ form.livecenter }}
    <div class="dialog-columns">
        <div class="dialog-column">
            <div class="fieldset">
                {% formfield form.cluster %}
            </div>
            <div class="fieldset">
                <div class="field-wrapper">
                    <label>{% t "Mata pencaharian" %}</label>
                    {{ form.instance.livecenter }}
                </div>
            </div>
            <div class="fieldset">
                {% formfield form.name %}
            </div>
            <div class="fieldset">
                {% formfield form.info %}
            </div>
            <div class="fieldset">
                {% include "livecenter/photo_form.html" %}
            </div>
            {% for x in customfields %}
            <div class="fieldset">
                <label>{{ x.title }}</label>
                <div class="field-wrapper">{{group|metaform:x}}</div>
                <div class="description">{{ x.description }}</div>
            </div>
            {% endfor %}

            <div class="fieldset">
                {% formfield form.publish %}
            </div>
        </div>

        <div id="location" class="dialog-column">
            {% include "livecenter/location_form.html" %}
        </div>

    </div><!-- dialog-columns -->

    <div class="submit-wrapper">
        <input type="submit" value="{% t "Simpan" %}" />
    </div>
</form>

{% endblock %}

{% block js %}
<script type="text/javascript">
    document.getElementById("id_name").focus();
</script>
{% endblock %}
