{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}
{% load pagination_tags %}

{% block title %}{% t "Kelompok" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% include "tabber.html" %}
{% endblock %}

{% block content %}

<h2>{% t "Kelompok" %}</h2>

<span id="total">{% t "Jumlah" %}: {{ count }}</span>

{% easy_map lokasi 900 400 7 using "group/map/index.html" %}

<div class="tabber">
    <div class="tabbertab">
        <h4>{% t "Kelompok" %}</h4>
        <ul class="uiListView icon-left">
            {% autopaginate groups %}
            {% for group in groups %}
                <li>
                  {% if user.is_staff %}
                  <span class="right"><a href="/group/delete/{{group.id}}" class="uiRemove" title="{% t "Hapus" %} {{group.name}}"></a></span>
                  {% endif %}
                  <span class="avatar normal"><img src="/img/{{group.photo.id}}" /></span>
                  <span class="block">
                      <span class="title"><a href="/group/show/{{ group.id }}" class="preview">{{ group.name }}</a></span> 
                      <span class="body">{{ group.cluster.category.name }}</span>
                      <span class="body">{{ group.info }}</span>
              </li>
            {% empty %}
              <li>{% t "Belum ada kelompok" %}</li>
            {% endfor %}
        </ul>
        {% paginate %}
    </div>
</div>

{% endblock %}
