{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}

{% block title %}{% t "Kelompok" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% endblock %}

{% block content %}

<h2>{% t "Kelompok" %}</h2>

<span id="total">{% t "Jumlah" %}: {{ count }}</span>

{% easy_map lokasi 900 400 7 using "group/map/index.html" %}

        <ul class="uiListView icon-left">
            {% for group in groups %}
                <li>
                  <span class="avatar normal"><img src="/img/{{group.photo.id}}" /></span>
                  <span class="block">
                      <span class="title"><a href="/group/show/{{ group.id }}" class="preview">{{ group.name }}</a></span> 
                      <span class="body">{{ group.cluster.category.name }}</span>
                      <span class="body">{{ group.info }}</span>
                      <span class="body">
                          {{ group.member_count }} {% t "anggota" %},
                          {% t "oleh" %} {{group.user}}, {{group.updated}}
                      </span>
              </li>
            {% empty %}
              <li>{% t "Belum ada kelompok" %}</li>
            {% endfor %}
        </ul>
        {% if prev %}<a href="{{request.path}}?page={{prev}}">{% t "Sebelumnya" %}</a>{% endif %}
        {% if next %}<a href="{{request.path}}?page={{next}}">{% t "Selanjutnya" %}</a>{% endif %}

{% endblock %}
