{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}

{% block title %}{% t "Kelompok" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% include "livecenter/tabber.html" %}
{% endblock %}

{% block content %}

<h2>{% t "Kelompok" %}</h2>

<span id="total">{% t "Jumlah" %}: {{ groups_count }}</span>

{% easy_map lokasi 900 400 7 using "group/map/index.html" %}

<div class="tabber">
    <div class="tabbertab">
        <h4>{% t "Kelompok" %}</h4>
        <ul class="uiListView icon-left">
            {% for item in groups %}
                <li id="gr{{ item.key.id }}">
                  {% if user.is_staff %}
                  <span class="right"><a href="/group/delete/{{item.key}}" class="uiRemove acRemove uiTip" title="{% t "Hapus" %} {{item.name}}"></a></span>
                  {% endif %}
                  <span class="avatar normal"><img src="/img/{{item.key}}" /></span>
                  <span class="block">
                      <span class="title"><a href="/group/show/{{ item.key }}" gid="{{item.key}}" class="preview">{{ item.name }}</a></span> 
                      <span class="body">{{ item.livecluster.category.name }}</span>
                      <span class="body">{{ item.info }}</span>
              </li>
            {% empty %}
              <li>{% t "Belum ada kelompok" %}</li>
            {% endfor %}
        </ul>
        {% include "livecenter/paging.html" %}
    </div>
</div>

{% endblock %}
