{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}
{% load livecenter %}

{% block title %}{% t "Laporan" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% include "tabber.html" %}
{% include "facebox.html" %}
{% endblock %}
{% block sidebar %}
<p>
</p>

<div class="profile_pic">
<img src="/img/{{report.name_group.key}}" />
</div>
<div class="sidebox">
<h4><i class="icon_small contact"></i><strong>{% t "Keterangan Singkat" %}</strong></h4>
<p>{{report.name_group.info}}</p>
<p><label>{% t "Koordinat GPS" %}</label><span class="gps">{{ lokasi }}</span></p>
</div>
{% if report.name_group.livecluster %}
<div class="sidebox">
    <h4><i class="icon_small category"></i><strong>Livecenter</strong></h4>
    <ul class="uiListView icon-left-small">
        <li><span class="icon"><img src="/img/{{livecenter.key}}" class="small" /></span>
            <span class="title"><a href="/livecenter/show/{{livecenter.key}}">{{ livecenter.name }}</a></span>
            <span class="body">{{livecenter.district.dl_name}}</span>
        </li>
    </ul>
</div>
{% endif %}
<div class="sidebox">
    <h4><i class="icon_small category"></i><strong>Group</strong></h4>
    <ul class="uiListView icon-left-small">
        <li><span class="icon"><img src="/img/{{report.name_group.key}}" class="small" /></span>
            <span class="title"><a href="/group/show/{{report.name_group.key}}">{{ report.name_group.name }}</a></span>
        </li>
    </ul>
</div>

{% endblock %}
{% block content %}
<h2><a href="/product">{% t "Kelompok" %}</a> / {{ report.name_group.name }}</h2>

{% easy_map lokasi 600 300 7 using "group/map/show.html" %}
<p>&nbsp;</p>
{% if user.is_staff %}
    <p>
	<a href="/group/edit_report/{{report.key}}" title="Edit {{report.name_group.name}}'s Report" class="uiButton uiTip"><span>{% t "Ubah Laporan" %}</span></a>
    </p>
    <p>&nbsp;</p>
{% endif %}
<div id="info">
<table class="uiListView">
<tr><td>{% t "Laporan Periode" %}</td><td>: {{report.year}}</td><tr>
<tr><td>{% t "Nama Laporan" %}</td><td>: {{report.name}}</td></tr>
<tr><td>{% t "Gugusan" %}</td><td>: {{report.livecluster.name}}</td><tr>
<tr><td>{% t "Kelompok" %}</td><td>: {{report.name_group.name}}</td><tr>
{% for x in customfields %}
<tr><td class="trans">{% t x.title %}</td><td><span>: {{report|metaview:x}}</span></td></tr>
{% endfor %}
</table>
</div>
{% endblock %}