{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}
{% load livecenter %}

{% block title %}{% t "Kelompok" %} {{group.name}}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% include "tabber.html" %}
{% endblock %}

{% block content %}
<h2>{% t "Kelompok" %} {{ group.name }}</h2>

{% easy_map lokasi 600 300 7 using "group/map/show.html" %}
<br />

<div class="tabber">

    <div class="tabbertab">
        <h4>{% t "Anggota" %}</h4>
        {% if user.is_staff %} 
        <span class="right">
            <a href="/people/create/group/{{group.id}}?destination=/group/show/{{group.id}}" class="uiButton">{% t "Tambah anggota" %}</a>
        </span>
        {% endif %}
        <ul class="uiListView icon-left">
          {% for member in members %}
            <li>
              <span class="avatar normal"><img src="/people/img/{{member.id}}" /></span>
              <span class="block">
                <span class="title"><a href="/people/show/{{ member.id }}" class="preview">{{ member.name }}</a></span>
                <span class="body">{{ member.member_type }}</span>
                <span class="body">{{ member.district.name }}</span>
              </span>
            </li>
          {% empty %}
            <li>{% t "Belum ada anggota" %}</li>
          {% endfor %}
        </ul>
    </div>

    <div class="tabbertab {% tabdefault "keterangan" %}">
        <h4>{% t "Keterangan" %}</h4>
        {% if user.is_staff %}
        <a href="/group/edit/{{group.id}}" class="uiButton">{% t "Ubah" %}</a>
        {% endif %}
        <table class="uiListView">
            {% for x in customfields %}
            <tr><td>{% t x.description %}</td>
                <td><span>: {{group|metaview:x}}</span></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="tabbertab {% tabdefault "laporan" %}">
        <h4>{% t "Laporan" %}</h4>
        {% if user.is_staff %}
        <span class="right">
        <a href="/group/report/create/{{group.id}}" class="uiButton">{% t "Tambah" %}</a>
        </span>
        {% endif %}
        <ul class="uiListView">
          {% for report in reports %}
            <li>
              {% if user.is_staff %}
                <span class="right">
                    <a href="/group/report/delete/{{report.id}}" class="uiRemove" title="{% t "Hapus" %} {{report.name}}"></a>
                </span>
              {% endif %}
              <span class="block">
                <span class="title"><a href="/group/report/edit/{{ report.id }}" class="preview">{{ report.name }}</a></span>
                <span class="body">{{ report.day }}</span>
                <span class="body">{{ report.info }}</span>
              </span>
            </li>
          {% empty %}
          <li>{% t "Belum ada laporan" %}</li>
          {% endfor %}
        </ul>
    </div>

    <div class="tabbertab {% tabdefault "pelatihan" %}">
        <h4>{% t "Pelatihan" %}</h4>
        {% if user.is_staff %}
        <span class="right">
          {% if training %}
            <a href="/group/training/edit/{{training.id}}" class="uiButton">{% t "Ubah" %}</a>
          {% else %}
            <a href="/group/training/create/{{group.id}}" class="uiButton">{% t "Tambah" %}</a>
          {% endif %}
        </span>
        {% endif %}

        <ul class="uiListView">
        {% if training %}
        <li>
        <table class="uiListView">
            <tr><td>1.</td><td>{% t "Manajemen Usaha" %}</td><td>: {{training.manajemen_usaha}} {% t "kali" %}</td></tr>
            <tr><td>2.</td><td>{% t "Pembukuan" %}</td><td>: {{training.pembukuan}} {% t "kali" %}</td></tr>
            <tr><td>3.</td><td>{% t "Produksi" %}</td><td>: {{training.produksi}} {% t "kali" %}</td></tr>
            <tr><td>4.</td><td>{% t "Pemanfaatan Limbah" %}</td><td>: {{training.pemanfaatan_limbah}} {% t "kali" %}</td></tr>
            <tr><td>5.</td><td>{% t "Pengemasan" %}</td><td>: {{training.pengemasan}} {% t "kali" %}</td></tr>
            <tr><td>6.</td><td>{% t "Akses Pasar" %}</td><td>: {{training.akses_pasar}} {% t "kali" %}</td></tr>
            <tr><td>7.</td><td>{% t "Keuangan Mikro" %}</td><td>: {{training.keuangan_mikro}} {% t "kali" %}</td></tr>
            <tr><td>8.</td><td>{% t "Perhitungan Harga Pokok Produksi" %}<br />{% t "dan Harga Jual" %}</td><td>: {{training.hitung_hpp_harga_jual}} {% t "kali" %}</td></tr>
            <tr><td>9.</td><td>{% t "Navigasi" %}</td><td>: {{training.navigasi}} {% t "kali" %}</td></tr>
            <tr><td>10.</td><td>{% t "Keselamatan di Laut" %}</td><td>: {{training.keselamatan_laut}} {% t "kali" %}</td></tr>
            <tr><td>11.</td><td>{% t "Penanganan di atas Kapal" %}</td><td>: {{training.penanganan_atas_kapal}} {% t "kali" %}</td></tr>
            <tr><td>12.</td><td>{% t "Kontrol Kualitas" %}</td><td>: {{training.kontrol_kualitas}} {% t "kali" %}</td></tr>
            <tr><td>13.</td><td>{% t "Perawatan Mesin" %}</td><td>: {{training.rawat_mesin }} {% t "kali" %}</td></tr>
            <tr><td>14.</td><td>{% t "Penyelamatan" %}</td><td>: {{training.rescue}} {% t "kali" %}</td></tr>
        </table>
        </li>
        {% else %}
        <li>{% t "Belum ada pelatihan" %}</li>
        {% endif %}
        </ul>
    </div>

</div>

{% endblock %}

{% block sidebar %}

<div class="profile_pic">
    <img src="/img/{{group.photo.id}}" />
</div>
<div class="sidebox">
    <h4><i class="icon_small contact"></i>{% t "Keterangan singkat" %}
    {% if user.is_staff %} 
    <a href="/group/edit/{{group.id}}?destination=/group/show/{{group.id}}" class="uiButton">{% t "Ubah" %}</a>
    {% endif %}
    </h4>
    <p>{{group.info}}</p>
    <p><label>{% t "Koordinat GPS" %}</label>{{ group.geo_pos }}</p>
</div>

<div class="sidebox">
    <h4><i class="icon_small user"></i><strong>{% t "Jumlah anggota" %}</strong>: {% firstof group.member_count "0" %}</h4>
</div>

<div class="sidebox">
    <h4><i class="icon_small contact"></i>{% t "Kode QR" %}
    </h4>
    <center>
        <a href="http://qrcode.kaywa.com/img.php?s=4&amp;d=http://livelihoodmembersdatabase.appspot.com/group/show/{{group.id}}" >
        <img alt="qrcode" src="http://qrcode.kaywa.com/img.php?s=2&amp;d=http://livelihoodmembersdatabase.appspot.com/group/show/{{group.id}}" >
        </a>
    </center>
</div>

<div class="sidebox">
    <h4><i class="icon_small category"></i><strong>Livecenter</strong></h4>
    <ul class="uiListView icon-left-small">
        <li><span class="icon"><img src="/img/{{group.livecenter.photo.id}}" class="small" /></span>
            <span class="title"><a href="/livecenter/show/{{group.livecenter.id}}">{{ group.livecenter.name }}</a></span>
            <span class="body">{{group.livecenter.district.name}}</span>
        </li>
    </ul>
</div>

<div class="sidebox">
    <h4><i class="icon_small group"></i><strong>{% t "Kelompok serupa lain" %}</strong></h4>
    <ul class="uiListView icon-left-small">
      {% for og in other_groups %}
        <li>
          <span class="icon"><img src="/img/{{og.photo.id}}" class="small" /></span>
          <span class="title"><a href="/group/show/{{og.id}}">{{ og.name }}</a></span>
          <span class="body">{{og.info}}</span>
        </li>
      {% empty %}
        <li>{% t "Belum ada kelompok yang serupa" %}</li>
      {% endfor %}
    </ul>
</div>

{% if user.is_staff %}
<div class="sidebox">
    <a href="/group/delete/{{group.id}}" class="uiButton">{% t "Hapus" %} {{ group.name }}</a>
</div>
{% endif %}

{% endblock %}
