{% load lang %}
<h3><i class="icon_small category"></i>{% t "Ubah gugusan" %}</h3>
<form name="fcategory" action="/cluster/edit/{{cluster.key}}" class="validate" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="destination" value="{{destination}}" />
    <p><label for="" langtag="nav-category">{% t "Kategori" %}</label>
    <select name="category">
        <option value="">{% t "Pilih" %}</option>
        {% for cat in categories %}
            <option value="{{cat.key}}" {% if cat.key == cluster.category.key %} selected="selected" {% endif %}>{{cat.name}}</option>
        {% endfor %}
    </select>
</p>
<p><label for="" langtag="cluster-name">{% t "Nama gugusan" %}</label>
	<input type="text" name="name" class="xe" value="{{cluster.name}}" pattern="[a-zA-Z ]{3,}" required="required" />
</p>
<p><label for="" langtag="cat-create-desc">{% t "Keterangan" %}</label>
<textarea class="xe" rows="4" name="info">{{cluster.info}}</textarea></p>
<p><label langtag="cat-create-photo">{% t "Foto" %}</label>
<input type="file" name="photo" /></p>
<p class="formsetaction">
<input type="submit" value=" {% t "Simpan" %} " class="uiButton_blue" />
</p>
</form>
