{% extends 'base.html' %}

{% block title %}{{ "Migrasi counter" }}{% endblock %}

{% block content %}

<table border="1">
    <tr>
        <th>Name</th>
        <th>Count</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td align="right">{{ item.count }}</td>
    </tr>
    {% endfor %}
</table>

<b>Old</b>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Count</th>
    </tr>
    {% for item in olds %}
    <tr>
        <td>{{item.name}}</td>
        <td align="right">{{item.count}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
