{% extends 'base.html' %}
{% load lang %}
{% load livecenter %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/form.css" />
{% endblock %}

{% block title %}{% if form.instance.id %}{{ form.instance.name_org }}{% else %}{% t "Keuangan mikro baru" %}{% endif %}{% endblock %}

{% block content %}
<h2>
    {% if form.instance.id %}
    {{ form.instance.name }}
    {% else %}
    {% t "Keuangan mikro baru" %}
    {% endif %}
</h2>

{{ form.non_field_errors }}

<form action="{{request.path}}?{{request.GET|dictquery}}" method="POST" enctype="multipart/form-data">
    <div class="dialog-columns">
        <div class="dialog-column">
            <div class="fieldset">
                {% formfield form.name_org %}
            </div>
            <div class="fieldset">
                {% formfield form.contact_name %}
            </div>
            <div class="fieldset">
                {% formfield form.address %}
            </div>
            <div class="fieldset">
                {% formfield form.mobile %}
            </div>
            <div class="fieldset">
                {% formfield form.kind_lkm %}
            </div>
            <div class="fieldset">
                {% formfield form.total_asset %}
            </div>
            <div class="fieldset">
                {% formfield form.total_sedia_dana_pinjaman %}
            </div>
            <div class="fieldset">
                {% formfield form.total_penyaluran %}
            </div>
            <div class="fieldset">
                {% formfield form.sektor_usaha %}
            </div>
            <div class="fieldset">
                {% formfield form.persyaratan_pinjaman %}
            </div>
            <div class="fieldset">
                {% formfield form.persyaratan_agunan %}
            </div>
        </div>

        <div class="dialog-column">
            {% include "livecenter/location_form.html" %}
            {% include "livecenter/photo_form.html" %}
        </div>

    </div>

    <div>
        <div class="fieldset">
            <div class="field-wrapper">
                {% formfield form.jangkauan_wilayah_usaha %}
            </div>
            <div class="field-wrapper">
                {% formfield form.nilai_maks_pinjaman %}
            </div>
            <div class="field-wrapper">
                {% formfield form.jangka_wkt_pinjaman %}
            </div>
            <div class="field-wrapper">
                {% formfield form.margin_bunga %}
            </div>
            <div class="field-wrapper">
                {% formfield form.bantuan_penerima_manfaat_jfpr %}
            </div>
        </div>

        <label>{% t "Pelatihan" %}</label>

        <div class="fieldset">
            <div class="field-wrapper">
                <label>A. {% t "Manajemen usaha" %}</label>
                {{ form.manajemen_usaha }}
            </div>
            <div class="field-wrapper">
                <label>B. {% t "Pembukuan" %}</label>
                {{ form.pembukuan }}
            </div>
            <div class="field-wrapper">
                <label>C. {% t "Akses pasar" %}</label>
                {{ form.akses_pasar }}
            </div>
            <div class="field-wrapper">
                <label>D. {% t "Keuangan mikro" %}</label>
                {{ form.keuangan_mikro }}
            </div>
            <div class="field-wrapper">
                <label>E. {% t form.kelayakan_usaha.label %}</label>
                {{ form.kelayakan_usaha }}
            </div>
        </div>

        <label>F. {% t "Peningkatan pelayanan" %}</label>
        <div class="fieldset">
            <div class="field-wrapper">
                <label>1. {% t form.ao.label %}</label>
                {{ form.ao }}
            </div>
            <div class="field-wrapper">
                <label>2. {% t form.cs.label %}</label>
                {{ form.cs }}
            </div>
            <div class="field-wrapper">
                <label>3. {% t form.tl.label %}</label>
                {{ form.tl }}
            </div>
        </div>
    </div>

    <div class="submit-wrapper">
        <input type="submit" value="{% t "Simpan" %}" />
    </div>
</form>

{% endblock %}

{% block extra-js %}
<script language="javascript">
document.getElementById("id_name_org").focus();
</script>
{% endblock %}
