{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}

{% block title %}{% t "Keuangan Mikro" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% include "tabber.html" %}
{% endblock %}

{% block content %}

<h2>{% t "Keuangan Mikro" %}</h2>

<span id="total">{% t "Jumlah" %}: {{ items_count }}</span>

{% easy_map lokasi 900 400 7 using "microfinance/map/index.html" %}

{% if user.is_staff %}
<p><a href="/microfinance/create" class="uiButton"><span class="iconAdd"></span><span>{% t "Tambah Keuangan Mikro" %}</span></a></p>
<p>&nbsp;</p>
{% endif %}

<div class="tabber">
    <div class="tabbertab">
        <h4>{% t "Keuangan Mikro" %}</h4>
        <ul class="uiListView icon-left">
            {% for item in items %}
              <li id="gr{{ item.key.id }}">
                {% if user.is_staff %}
                <span class="right"><a href="/microfinance/delete/{{item.key}}" class="uiRemove acRemove uiTip" title="{% t "Hapus" %} {{item.name}}"></a></span>
                {% endif %}
                <span class="avatar normal"><img src="/img/{{ item.key }}" /></span>
                <span class="block">
                <span class="title"><a href="/microfinance/show/{{ item.key }}" gid="{{ item.key }}" class="preview">{{ item.name_org }}</a></span> 
                <span class="body">{{ item.district.dl_name }}</span>
                </span>
              </li>
            {% empty %}
              <li>{% t "Belum ada data" %}</li>
            {% endfor %}
        </ul>

        {% include "livecenter/paging.html" %}
    </div>
</div>

{% endblock %}
