{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}
{% load pagination_tags %}

{% block title %}{% t "Keuangan Mikro" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% endblock %}

{% block content %}

<h2>{% t "Keuangan Mikro" %}</h2>

<span id="total">{% t "Jumlah" %}: {{ count }}</span>

{% easy_map lokasi 900 400 8 using "microfinance/map/index.html" %}

{% if user.is_staff %}
<p><a href="/microfinance/create" class="uiButton"><span class="iconAdd"></span><span>{% t "Tambah Keuangan Mikro" %}</span></a></p>
<p>&nbsp;</p>
{% endif %}

        <ul class="uiListView icon-left">
            {% autopaginate finances %}
            {% for finance in finances %}
              <li>
                <span class="avatar normal"><img src="/img/{{finance.photo.id}}" /></span>
                <span class="block">
                <span class="title"><a href="/microfinance/show/{{finance.id}}" class="preview">{{ finance.name_org }}</a></span> 
                <span class="body">{{ finance.district.name }}</span>
                </span>
              </li>
            {% empty %}
              <li>{% t "Belum ada data" %}</li>
            {% endfor %}
        </ul>
        {% paginate %}

{% endblock %}
