{% extends 'base.html' %}
{% load lang %}

{% block title %}{{ "Migrasi Microfinance" }}{% endblock %}

{% block content %}

<b>Target</b>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Sub district</th>
        <th>District</th>
        <th>Geo Pos</th>
    </tr>
    {% for target in targets %}
    <tr>
        <td>{{ target.name_org }}</td>
        <td>{{ target.sub_district.name }}</td>
        <td>{{ target.district.name }}</td>
        <td>{{ target.geo_pos }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
