{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}

{% block title %}{% t "Keuangan Mikro" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% include "tabber.html" %}
{% endblock %}

{% block content %}

<h2><a href="/microfinance">{% t "Keuangan Mikro" %}</a> / {{ microfinance.name_org }}</h2>

{% easy_map lokasi 600 300 7 using "livecenter/map/base.html" %}

{% if user.is_staff %}
<p><a href="/microfinance/edit/{{microfinance.key}}" class="uiButton"><span class="iconAdd"></span><span>{% t "Ubah" %} {{microfinance.name_org}}</span></a></p>
    <p>&nbsp;</p>
{% endif %}

<div class="tabber">
    <div class="tabbertab">
        <h4>{% t "Keterangan" %}</h4>
        <table class="uiListView">
            {% for judul, nilai in kontak %}
                <tr><td class="label">{{ judul|t:request }}</td>
                    <td>:</td>
                    <td>{{ nilai|t:request }}</td>
                </tr>
            {% endfor %}

            {% if user.is_staff %}
                {% for judul, nilai in keuangan %}
                    <tr><td class="label">{{ judul|t:request }}</td>
                        {% if nilai != "<none>" %}
                          <td>:</td>
                          <td>{{ nilai|t:request }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>


{% endblock %}

{% block sidebar %}
<div class="profile_pic">
    <img src="/img/{{microfinance.key}}" />
</div>
{% endblock %}

