{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}

{% block title %}{%t "Wilayah nomor handphone" %}{% endblock %}

{% block content %}

<p />
{% easy_map lokasi 600 400 7 %}

{% endblock %}

{% block sidebar %}

<form method="post" name="form1">
                <label for="msisdn" class="required">{% t "Nomor handphone" %}:</label>
                <input name="msisdn" class="vTextField" value="{{ msisdn }}" />
                <p class="help">{% t "Contoh: 08179140068, +628179140068" %}</p>
            <h2>{{ msisdn }} {{ wilayah }}</h2>
        <input type="submit" class="form-submit" value="{% t "Lihat wilayahnya" %}" />
</form>
{% endblock %}

{% block js %}
<script>
    document.form1.msisdn.focus();
</script>
{% endblock %}
