{% extends 'base.html' %}
{% load lang %}

{% block extra-head %}
{% if targets %}
<meta http-equiv="refresh" content="5" />
{% endif %}
{% endblock %}

{% block title %}{{ "Migrasi LivelihoodLocation" }}{% endblock %}

{% block content %}

<b>Target</b>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Parent</th>
    </tr>
    {% for target in targets %}
    <tr>
        <td>{{ target.lid }}</td>
        <td>{{ target.name }}</td>
        <td>{{ target.parent }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}
