{% extends 'base.html' %}
{% load lang %}
{% load livecenter %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/form.css" />
{% endblock %}

{% block title %}{{ form.instance.name }}{% endblock %}


{% block content %}

<h2>{% t "Anggota" %}</h2>
<form action="/people/edit/{{form.instance.id}}" method="post" enctype="multipart/form-data">

<div class="dialog-columns">

<div class="dialog-column">

<div class="fieldset">
    {% formfield form.name %}
    <div class="field-wrapper">
        <label>{% t "Mata pencaharian" %}:</label>
        {{ form.instance.livecenter.name }}
    </div>
</div>

<div class="fieldset">
    {% formfield form.group %}
    {% formfield form.monthly_income %}
</div>

<div class="fieldset">
    {% formfield form.address %}
    {% formfield form.gender %}
</div>

<div class="fieldset">
    {% formfield form.birth_year %}
    {% formfield form.birth_place %}
</div>

<div class="fieldset">
    {% formfield form.spouse_name %}
    {% formfield form.children_num %}
</div>
    
<div class="fieldset">
    {% formfield form.education %}
    {% formfield form.member_type %}
</div>

<div class="fieldset">
    {% formfield form.mobile %}
    {% formfield form.email %}
</div>

<div class="fieldset">
    {% formfield form.info %}
    {% include "livecenter/photo_form.html" %}
</div>
</div>

</div><!-- dialog-column -->

<div id="location" class="dialog-column">
{% include "livecenter/location_form.html" %}
</div>

</div><!-- dialog-columns -->

<div class="submit-wrapper">
    <input type="submit" value="{% t "Simpan" %}" />
</div>

</form>

{% endblock %}


{% block js %}
<script type="text/javascript">
    document.getElementById("id_name").focus();
</script>
{% endblock %}
