{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}
{% load pagination_tags %}

{% block title %}{% t "Anggota" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% endblock %}

{% block content %}

<h2>{% t "Anggota" %}</h2>

<span id="total">{% t "Jumlah" %}: {{ count }}</span>

{% easy_map lokasi 900 400 8 using "people/map/index.html" %}

        <ul class="uiListView icon-left">
            {% autopaginate peoples %}
            {% for people in peoples %}
              <li>
                <span class="avatar normal"><img src="/img/{{people.photo.id}}" /></span>
                <span class="block">
                <span class="title"><a href="/people/show/{{ people.id }}" class="preview">{{ people.name }}</a></span> 
                <span class="body">{{ people.district.name }} / {{ people.member_type }}</span>
                <span class="body"><span class="tag">LC</span> <a href="/livecenter/show/{{ people.livecenter.id }}">{{ people.livecenter.name }}</a></span>
                </span>
              </li>
            {% empty %}
              <li>{% t "Belum ada anggota" %}</li>
            {% endfor %}
        </ul>
        {% paginate %}

{% endblock %}
