{% extends 'base.html' %}
{% load lang %}
{% load livecenter %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/form.css" />
{% endblock %}

{% block title %}{% if form.instance.id %}{{ form.instance.name }}{% else %}{% t "Produk baru" %}{% endif %}{% endblock %}


{% block content %}

<h2>
{% if form.instance.id %}
{% t "Produk" %}
{% else %}
{% t "Produk baru" %}
{% endif %}
</h2>

{{ form.non_field_errors }}
<form action="{{request.path}}?{{request.GET|dictquery}}" method="post" enctype="multipart/form-data">
<div class="dialog-columns">
    
    <div class="dialog-column">
        <div class="fieldset">
            {% formfield form.name %}
        </div>
        <div class="fieldset">
            {% formfield form.type %}
            {% formfield form.year %}
        </div>
        <div class="fieldset">
            <div class="field-wrapper">
                <label>{% t "Anggota" %}</label>
                {{ form.instance.person.name }}
            </div>
        </div>
        <div class="fieldset">
            <div class="field-wrapper">
                <label>{% t "Mata pencaharian" %}:</label>
                {{ form.instance.livecenter.name }}
            </div>
            <div class="field-wrapper">
                <label>{% t "Gugusan" %}:</label>
                {{ form.instance.cluster.name }}
            </div>
        </div>
        <div class="fieldset">
            {% formfield form.category %}
        </div>
        <div class="fieldset">
            {% formfield form.info %}
        </div>
        <div class="fieldset">
            {% include "livecenter/photo_form.html" %}
        </div>
    </div><!-- dialog-column -->

    <div class="dialog-column">
        {% include "livecenter/location_form.html" %}
    </div>

</div><!-- dialog-columns -->

<div class="submit-wrapper">
    <input type="submit" value="{% t "Simpan" %}" />
</div>

{{ form.errors }}

</form>

{% endblock %}


{% block js %}
<script type="text/javascript">
    document.getElementById("id_name").focus();
</script>
{% endblock %}
