{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}

{% block title %}{% t "Produk" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% endblock %}

{% block content %}

<h2>{% t "Produk" %}</h2>

    <span id="total">{% t "Jumlah" %}: {{ count }}</span>

{% easy_map lokasi 900 400 8 using "product/map/index.html" %}

{% if user.is_staff %}
<a href="/product/type/create" class="uiButton right">{% t "Tambah tipe produk" %}</a>
{% endif %}

        <ul class="uiListView icon-left">
            {% for type in types %}
            <li>
                <span class="avatar">
                    <a href="/product/type/show/{{type.id}}"><img src="/img/{{type.photo.id}}" /></a>
                </span>
                <span class="block">
                    <span class="body">
                        <a href="/product/type/show/{{ type.id }}">{% t type.name %}</a>
                    </span>
                    <span class="body">
                        {{ type.count }} {% t "anggota" %}
                    </span>
                </span>
            </li>
            {% endfor %}


{% endblock %}
