.idTabs {
  border-bottom: 1px solid #999999;
  margin-bottom: 3px;
  padding-bottom: 4px;
}

.idTabs a.selected {
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #999999 #999999 #FFFFFF;
  border-style: solid;
  border-width: 1px;
  color: #666666;
  font-weight: bold;
}

ul.uiListView {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.uiListView li {
  border-bottom: 1px solid #EEEEEE;
  clear: both;
  padding: 5px 0;
  position: relative;
}

ul.uiListView li ul li {
  list-style-position: outside;
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 5px 0;
}

ul.uiListView.icon-left li {
  min-height: 48px;
  padding-left: 53px;
}

ul.uiListView.icon-left li .avatar {
  left: 0;
  position: absolute;
  top: 3px;
}

ul.uiListView.icon-left-small li {
  min-height: 27px;
  padding-left: 34px;
}

ul.uiListView.icon-left-small li .icon {
  left: 0;
  position: absolute;
  top: 2px;
}

.uiListView span.title, .uiGridView span.title {
  display: block;
  font-weight: bold;
}

.uiListView span.body, .uiGridView span.body {
  color: #777777;
  display: block;
}

.uiListView span.properties, .uiGridView span.properties {
  color: #777777;
  display: block;
}

p {
  margin: 4px 0;
  padding: 0;
}

#tabitems {
    min-height: 300px;
    position: relative;
}

div#tabitems > div {
    left: 0;
    top: 0;
    width: 100%;
}

#livecenters {
    display: block;
}

.tag {
  -moz-border-radius: 2px 2px 2px 2px;
  background-color: #AAAAAA;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  padding: 1px 2px;
}

a.uiButton {
  color: #333333;
  text-decoration: none;
}

.uiButton, .uiButton_blue {
  font-family: "Segoe UI","Lucida Grande","Lucida Sans",calibri,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.uiButton {
  padding: 3px 6px;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="image"], .uiButton, .uiButton:hover, .uiButton_blue, .uiButton_blue:hover {
  background: url("/images/sprite.gif") repeat-x scroll 0 0 transparent;
  border: 1px solid #999999;
  cursor: pointer;
  margin-left: 2px;
}

.tabberlive .tabbertab h4 {
  display: none;
}

.right {
  float: right;
}

.uiRemove {
  background: url("/images/act.gif") no-repeat scroll 0 -64px transparent;
  display: inline-block;
  height: 16px;
  width: 16px;
}

.avatar {
  height: 48px;
  margin-right: 5px;
  overflow: hidden;
  text-align: center;
  width: 48px;
}

.avatar img {
  width: 48px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select, option, textarea {
  border: 1px solid #BDC7D8;
  font-family: "Segoe UI","Lucida Grande","Lucida Sans",calibri,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 11px;
  padding: 3px;
}

#fdistrict span {
  float: left;
  margin-right: 15px;
}

ul.metapick{
  max-height: 350px;
  overflow: auto;
  list-style-type: none;
  padding: 3px;
  border-top: 2px solid #F4C97F;
}

ul.metapick li {
  clear: both;
  padding: 4px;
  border-bottom: 1px solid #ccc;
}

fieldset {
    border:1px solid #bdc7c8;
}

fieldset.grid {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

fieldset.grid span.c {
    float: left;
    margin-right: 15px;
}
