{% extends 'base.html' %}
{% load lang %}

{% block extra-head %}
{% if targets %}
<meta http-equiv="refresh" content="5" />
{% else %}
  {% if temps %}
  <meta http-equiv="refresh" content="5" />
  {% endif %}
{% endif %}
{% endblock %}

{% block title %}{{ "Migrasi files" }}{% endblock %}

{% block content %}

{% if targets %}

<b>Target</b>
<table border="1">
    <tr>
        <th>Filename</th>
        <th>Size</th>
    </tr>
    {% for target in targets %}
    <tr>
        <td>{{ target.name }}</td>
        <td>{{ target.size }} bytes</td>
    </tr>
    {% endfor %}
</table>

{% else %}

<b>Temporary</b>
<table border="1">
    <tr>
        <th>Container</th>
    </tr>
    {% for temp in temps %}
    <tr>
        <td>{{ temp.container }}</td>
    </tr>
    {% endfor %}
</table>

{% endif %}



{% endblock %}
