<html>
<head>
{% load lang %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
</head>

<body>
<h2>{% t "Tambah Pusat Mata Pencaharian" %}</h2>

<div class="formsheet">
    <form name="fgrid" id="fgrid" method="POST" class="validate" enctype="multipart/form-data">
        <p><label>{% t "Nama" %}</label><input type="text" name="name" value="{{ livecenter.name }}" class="xd" pattern="[a-zA-Z1-9 ]{3,}" required="required" /></p>
        <p><label>{% t "Alamat" %}</label><textarea cols="45" rows="3" name="address">{{ livecenter.address }}</textarea></p>

        {% include "livecenter/location_form.html" %}
        <p><label>{% t "Keterangan" %}</label><textarea cols="45" rows="3" name="description">{{ livecenter.description }}</textarea></p>
        {% if livecenter %}
        <div class="profile_pic"><img src="/img/{{ livecenter.key }}" /></div>
        {% endif %}
        <p><label>{% t "Foto" %}</label><input type="file" name="photo" /></p>
        <p class="formsetaction">
        <input type="submit" value=" {% t "Simpan" %} " class="uiButton_blue" />
        </p>
    </form>
</div>
</body>
