{% extends 'base.html' %}
{% load lang %}

{% block title %}{% t pagetitle %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/tabber.css" />
<script type="text/javascript" src="/static/js/tabber.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.4.1.js"></script>
<script type="text/javascript">
var district_sel = {{ district_sel }};
var subdistrict_sel = {{ subdistrict_sel }};
var village_sel = {{ village_sel }};
$(function(){
    if ($('#fdistrict').length){
    	// dependen dropdown
    	$('#district').bind('change',function(){
    			var me = this[this.selectedIndex];
    			if(me.value !=""){
    				$.ajax({
    					type: 'GET',
    					url:'/livecenter/district/'+$(me).val(),
    					success:function(json){
    						var data = eval('(' + json + ')');
    						$('#sub_district').empty()
                            $('#sub_district').append($('<option />').val("").text('{% t "Pilih kecamatan" %}'));
    						for(var i = 0;i< data.length;i++){
    							$('#sub_district').append($('<option />').val(data[i].dl_id).text(data[i].dl_name));
    						}
    						if (subdistrict_sel){
    							$('#sub_district').val('0');
    							$('#sub_district').val(subdistrict_sel);
    							$('#sub_district').change();
    						}
    					},
    					error:function(){
    						alert('error guys')
    					}
    				});	
    			}
    	});
    	//var addBinding = function(){
    		$('#sub_district').bind('change',function(){
    			var me = this[this.selectedIndex];
    			if(me.value !=""){
    				$.ajax({
    					type: 'GET',
    					url:'/livecenter/district/'+$(me).val(),
    					success:function(json){
    						var data = eval('(' + json + ')');
    						$('#village').empty()
                            $('#village').append($('<option />').val("").text('{% t "Pilih desa" %}'));
    						for(var i = 0;i< data.length;i++){
    							$('#village').append($('<option />').val(data[i].dl_id).text(data[i].dl_name));	
    						}
    						if (village_sel){
    							$('#village').val('0');
    							$('#village').val(village_sel);
    							$('#village').change();
    						}
    					},
    					error:function(){
    						alert('error guys')
    					}
    				});	
    			}
    		});
    	//};
    	
    	if (district_sel) {
    	   _ds = $('#district');
    	   _ds.val(district_sel);
    	   _ds.change();
        }

	}

	function setGeoPos(){
		n1 = $('#n1').val();
		n2 = ($('#n2').val()/60);
		e1 = $('#e1').val();
		e2 = ($('#e2').val()/60);
		var n = 0;
		n = (Number(n1)+Number(n2)).toString();
		var e = 0;
		e = (Number(e1)+Number(e2)).toString();
		$('#geo_pos').val(n+","+e);
	}
	$('#n1').bind('keyup',function(){
		setGeoPos();
	});
	$('#n2').bind('keyup',function(){
		setGeoPos();
	});
	$('#e1').bind('keyup',function(){
		setGeoPos();
	});
	$('#e2').bind('keyup',function(){
		setGeoPos();
	});

	var pos = $('#geo_pos').val();
	if( $('#geo_pos').length && pos ){
		geopoint = pos.split(',');
		n1val = geopoint[0].split(".")[0];
		n2val = "0."+geopoint[0].split(".")[1];
		e1val = geopoint[1].split(".")[0];
		e2val = "0."+geopoint[1].split(".")[1];
		$('#n1').val(n1val);
		$('#n2').val(Number(n2val)*60);
		$('#e1').val(e1val);
		$('#e2').val(Number(e2val)*60);
		//alert(n1val+'-'+n2val+'-'+e1val+'-'+e2val);
	}

});
</script>
{% endblock %}

{% block content %}

<h2>{% t "Tambah Pusat Mata Pencaharian" %}</h2>

<div class="formsheet">
    <form name="fgrid" id="fgrid" method="POST" class="validate" enctype="multipart/form-data">
        <p><label>{% t "Nama" %}</label><input type="text" name="name" value="{{ livecenter.name }}" class="xd" pattern="[a-zA-Z1-9 ]{3,}" required="required" /></p>
        <p><label>{% t "Alamat" %}</label><textarea cols="45" rows="3" name="address">{{ livecenter.address }}</textarea></p>

        {% include "livecenter/location_form.html" %}
        <p><label>{% t "Keterangan" %}</label><textarea cols="45" rows="3" name="description">{{ livecenter.description }}</textarea></p>
        {% if livecenter %}
        <div class="profile_pic"><img src="/img/{{ livecenter.key }}" /></div>
        {% endif %}
        <p><label>{% t "Foto" %}</label><input type="file" name="photo" /></p>
        <p class="formsetaction">
        <input type="submit" value=" {% t "Simpan" %} " class="uiButton_blue" />
        <a href="/livecenter" class="uiButton" >{% t "Batal" %}</a>
        </p>

    </form>
</div>

{% endblock %}
