{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}

{% block title %}{% t "Pusat Mata Pencaharian" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/tabber.css" />
<script type="text/javascript" src="/static/js/tabber.js"></script>
{% endblock %}

{% block content %}

<h2>{% t "Pusat Mata Pencaharian" %}</h2>

<span id="total">{% t "Jumlah" %}: {{ livecenters.count }}</span>

{% easy_map lokasi 900 400 7 using "livecenter/map/index.html" %}

{% if user.is_staff %}
<p><a href="/livecenter/create" class="uiButton"><span class="iconAdd"></span><span>{% t "Tambah Pusat Mata Pencaharian" %}</span></a></p>
{% endif %}

<div class="tabber">
    <div class="tabbertab">
        <h4>{% t "Pusat Mata Pencaharian" %}</h4>
        <ul class="uiListView icon-left">
          {% for item in livecenters %}
            <li id="gr{{item.key.id}}">
              {% if user.is_staff %}
              <span class="right"><a href="/livecenter/delete/{{item.key}}" class="uiRemove acRemove uiTip" title="{% t "Hapus" %} {{item.name}}"></a></span>
              {% endif %}
              <span class="avatar normal"><img src="/img/{{ item.key }}" /></span>
              <span class="block">
              <span class="title"><a href="/livecenter/show/{{ item.key }}" gid="{{item.key}}" class="preview">{{ item.name }}</a></span> 
              <span class="body">{% t item.description %}</span>
              <span class="body">{{ item.district.dl_name }}</span>
              </span>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
