{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}
{% load pagination_tags %}

{% block title %}{% t "Pusat Mata Pencaharian" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% endblock %}

{% block content %}

<h2>{% t "Pusat Mata Pencaharian" %}</h2>

<span id="total">{% t "Jumlah" %}: {{ count }}</span>

{% easy_map lokasi 900 400 9 using "livecenter/map/index.html" %}


        {% if user.is_staff %}
        <p><a href="/livecenter/create" class="uiButton"><span class="iconAdd"></span>{% t "Tambah" %}</a></p>
        {% endif %}
        <ul class="uiListView icon-left">
          {% autopaginate livecenters %}
          {% for lc in livecenters %}
            <li>
              <span class="avatar normal"><img src="/img/{{ lc.photo.id }}" /></span>
              <span class="block">
              <span class="title"><a href="/livecenter/show/{{ lc.id }}" class="preview">{{ lc.name }}</a></span> 
              <span class="body">{% t lc.description %}</span>
              <span class="body">{{ lc.district.name }}</span>
              </span>
            </li>
          {% endfor %}
        </ul>
        {% paginate %}

{% endblock %}
