{% load lang %}
<script type="text/javascript" src="/js/jquery-1.4.1.js"></script>
<script type="text/javascript">
{% if district_sel %}
var district_sel = {{ district_sel }};
var subdistrict_sel = {{ subdistrict_sel }};
var village_sel = {{ village_sel }};
{% endif %}

$(function(){

    {% if district_sel %}

    if ($('#fdistrict').length){
    	// dependen dropdown
    	$('#district').bind('change',function(){
    			var me = this[this.selectedIndex];
    			if(me.value !=""){
    				$.ajax({
    					type: 'GET',
    					url:'/livecenter/district/'+$(me).val(),
    					success:function(json){
    						var data = eval('(' + json + ')');
    						$('#sub_district').empty()
                            $('#sub_district').append($('<option />').val("").text('{% t "Pilih kecamatan" %}'));
    						for(var i = 0;i< data.length;i++){
    							$('#sub_district').append($('<option />').val(data[i].dl_id).text(data[i].dl_name));
    						}
    						if (subdistrict_sel){
    							$('#sub_district').val('0');
    							$('#sub_district').val(subdistrict_sel);
    							$('#sub_district').change();
    						}
    					},
    					error:function(){
    						alert('error guys')
    					}
    				});	
    			}
    	});
    	//var addBinding = function(){
    		$('#sub_district').bind('change',function(){
    			var me = this[this.selectedIndex];
    			if(me.value !=""){
    				$.ajax({
    					type: 'GET',
    					url:'/livecenter/district/'+$(me).val(),
    					success:function(json){
    						var data = eval('(' + json + ')');
    						$('#village').empty()
                            $('#village').append($('<option />').val("").text('{% t "Pilih desa" %}'));
    						for(var i = 0;i< data.length;i++){
    							$('#village').append($('<option />').val(data[i].dl_id).text(data[i].dl_name));	
    						}
    						if (village_sel){
    							$('#village').val('0');
    							$('#village').val(village_sel);
    							$('#village').change();
    						}
    					},
    					error:function(){
    						alert('error guys')
    					}
    				});	
    			}
    		});
    	//};
    	
    	if (district_sel) {
    	   _ds = $('#district');
    	   _ds.val(district_sel);
    	   _ds.change();
        }
    }

    {% endif %}

});
</script>

{% if districts %}
<p>
<fieldset id="fdistrict"><legend>{% t "Lokasi" %}</legend>
    <span>
        <label for="district">{% t "Kabupaten" %}</label>
	<select name="district" id="district" required="required">
        <option value="0">{% t "Pilih" %}</option>
	{% for district in districts %}
	<option value="{{district.dl_id}}" {%if district.dl_id == district_sel %}selected="selected"{%endif%}>{{district.dl_name}}</option>
	{% endfor %}
	</select>
	</span>
	<span>
        <label>{% t "Kecamatan" %}</label>
	<select id="sub_district" name="sub_district" required="required">
        <option value="">{% t "Pilih" %}</option>
	</select>
	</span>
	<span>
        <label>{% t "Desa" %}</label>
	<select id="village" name="village" required="required">
        <option value="">{% t "Pilih" %}</option>
	</select>
	</span>
</fieldset>
</p>
{% endif %}
<p>
<fieldset id="fgeopos"><legend>{% t "Koordinat GPS" %}</legend>
    <input name="geo_pos" id="geo_pos" value="{{ geo_pos}}" />
</fieldset>
</p>
