{% load lang %}
<p>
<fieldset id="fdistrict"><legend>{% t "Lokasi" %}</legend>
    <span>
        <label for="district">{% t "Kabupaten" %}</label>
	<select name="district" id="district" required="required">
        <option value="0">{% t "Pilih" %}</option>
	{% for district in districts %}
	<option value="{{district.dl_id}}" {%if district.dl_id == district_sel %}selected="selected"{%endif%}>{{district.dl_name}}</option>
	{% endfor %}
	</select>
	</span>
	<span>
        <label>{% t "Kecamatan" %}</label>
	<select id="sub_district" name="sub_district" required="required">
        <option value="">{% t "Pilih" %}</option>
	</select>
	</span>
	<span>
        <label>{% t "Desa" %}</label>
	<select id="village" name="village" required="required">
        <option value="">{% t "Pilih" %}</option>
	</select>
	</span>
</fieldset>
</p>
<p>
<fieldset id="fgeopos"><legend>{% t "Koordinat GPS" %}</legend>
    <span>{% t "Utara" %}</span> : <input name="n1" id="n1" type="text" class="auto" alt="n3x3p0S" size="3" />
      <input name="n2" id="n2" type="text" class="auto" alt="n2x3p4S" size="10" /> &nbsp;
      <span>{% t "Timur" %}</span> : <input name="e1" id="e1" type="text" class="auto" alt="n3x3p0S" size="3" />
      <input name="e2" id="e2" type="text" class="auto" alt="n2x3p4S" size="10" />
    </fieldset>
    <input name="geo_pos" id="geo_pos" type="hidden" value="{{ geo_pos}}" />
</p>
