{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}
{% load livecenter %}

{% block title %}{% t "Gugusan" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% include "tabber.html" %}
{% include "facebox.html" %}
{% endblock %}

{% block content %}
<h2>{% t "Info telepon seluler" %}</h2>
<p>&nbsp;</p>
<p>

<div class="tabber">
    <div class="tabbertab {% tabdefault "nomobile" %}">
        <h2>{% t "Tidak ada ponsel" %}</h2>
        <ul class="uiListView icon-left"> 
            {% for item in nomobile %}
                    <li id="gr{{ item.key.id }}">
                        <span class="avatar normal"><img src="/img/{{ item.key }}" /></span>
                        <span class="block">
                        <span class="title"><a href="/people/show/{{ item.key }}" gid="{{ item.key }}" class="preview">{{ item.name }}</a></span> 
                        {% if user.is_staff %}
                        <span class="body"><a href="/people/edit/{{item.key}}" rel="facebox">{% t "Ubah" %} </a></span>
                        {% endif %}
                        <span class="body">{{ item.village.dl_name }}, {{ item.sub_district.dl_name }}</span>
                        </span>
                    </li>
            {% empty %}
                <li>{% t "Belum ada anggota" %}</li>
            {% endfor %}
        </ul>
    </div>
        <div class="tabbertab {% tabdefault "mobile_list" %}">
        <h2>{% t "Mobile List" %}</h2>
        <table class="uiListView">
        <tr><th>No.</th><th>{%t "Nama" %}</th><th>{%t "Alamat" %}</th><th>{%t "Nomor Selular" %}</th></tr>
            {% for item in mobile_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="/people/show/{{ item.key }}">{{ item.name }}</a></td> 
                        <td>{{ item.village.dl_name }}, {{ item.sub_district.dl_name }}</td>
                        <td>{{item.mobile}}</td>
                        {% if user.is_staff %}
                        <td><a href="/people/edit/{{item.key}}" rel="facebox">{% t "Ubah" %} </a></td>
                        {% endif %}
                    </tr>
            {% empty %}
                <p>{% t "Belum ada anggota" %}</p>
            {% endfor %}
        </table>
    </div>
        <div class="tabbertab {% tabdefault "error_mobile" %}">
        <h2>{% t "Nomor ponsel salah" %}</h2>
        <table class="uiListView">
        <tr><th>No.</th><th>{%t "Nama" %}</th><th>{%t "Alamat" %}</th><th>{%t "Nomor Selular" %}</th></tr>
            {% for item in error_mobile %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="/people/show/{{ item.key }}">{{ item.name }}</a></td> 
                        <td>{{ item.village.dl_name }}, {{ item.sub_district.dl_name }}</td>
                        <td><center>{{item.mobile}}</center></td>
                        {% if user.is_staff %}
                        <td><a href="/people/edit/{{item.key}}" rel="facebox">{% t "Ubah" %} </a></td>
                        {% endif %}
                    </tr>
            {% empty %}
                <p>{% t "Belum ada anggota" %}</p>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
{% block sidebar %}
<div class="sidebox">
    <h4><i class="icon_small category"></i><strong>{% t "Pusat Mata Pencaharian" %}</strong></h4>
    <ul class="uiListView icon-left-small">
        <li><span class="icon"><img src="/img/{{livecenter.key}}" class="small" /></span>
            <span class="title"><a href="/livecenter/show/{{livecenter.key}}">{{ livecenter.name }}</a></span>
            <span class="body">{{livecenter.district.dl_name}}</span>
        </li>
    </ul>
</div>
{% endblock %}
