{% load lang %}
<h2><i class="icon_small home"></i>{% t "Anggota baru di " %} {{livecenter.name}}</h2>
<div class="formsheet">
    <form name="fgrid" id="fgrid" method="POST" class="validate" enctype="multipart/form-data">
        <p>
            <label>{% t "Nama lengkap" %}</label>
            <input type="text" name="name" value="" class="xd" pattern="[a-zA-Z1-9 ]{3,}" required="required" />
        </p>
        <fieldset class="grid">
            <span class="c">
                <label>{% t "Tipe anggota" %}</label>
                <input type="text" name="member_type" value="" pattern="[a-zA-Z0-9 ]{3,}" />
            </span>
            <span class="clear"></span>
            <span class="c">
                <label>{% t "Jenis kelamin" %}</label>
                <select name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </span>
            <span class="c">
                <label>{% t "Pendapatan bulanan" %}</label>
                <input type="text" name="monthly_income" value="" />
                <strong>IDR</strong>
            </span>
            <span class="clear"></span>
            <span class="c">
                <label>{% t "Telepon selular" %}</label>
                <input type="text" name="mobile" value="" />
            </span>
            <span class="c">
                <label>{% t "Email" %}</label>
                <input type="email" name="email" value="" />
            </span>
            <span class="clear"></span>
            <span class="c">
                <label>{% t "Tempat lahir" %}</label>
                <input type="text" name="birth_place">
            </span>
            <span class="c">
                <label>{% t "Tahun lahir" %}</label>
                <input type="text" name="birth_year">
            </span>
            <span class="clear"></span>
            <span class="c">
                <label>{% t "Pendidikan terakhir" %}</label>
                <input type="text" name="education" value="" />
            </span>
            <span class="c">
                <label>{% t "Nama pasangan" %}</label>
                <input type="text" name="spouse_name" value="" />
            </span>
            <span class="c">
                <label>{% t "Jumlah tanggungan" %}</label>
                <input type="text" name="children_num" value="" />
            </span>
        </fieldset>
        <p>
        <label>{% t "Alamat" %}</label>
        <textarea cols="45" rows="3" name="address"></textarea>
        </p>
        {% include "livecenter/location_form.html" %}
        <p>
        <label>{% t "Catatan" %}</label>
        <textarea cols="45" rows="3" name="description"></textarea>
        </p>
        <p>
        <label>{% t "Foto" %}</label>
        <input type="file" name="photo" />
        </p>
        <p class="formsetaction">
        <input type="submit" value=" {% t "Simpan" %} " class="uiButton_blue" />
        </p>
    </form>
</div>
