{% extends 'base.html' %}
{% load lang %}
{% load easy_maps_tags %}

{% block title %}{% t "Pusat Mata Pencaharian" %}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/livecenter.css" />
{% include "tabber.html" %}
{% include "facebox.html" %}
{% endblock %}


{% block content %}
<h2><a href="/livecenter">{% t "Pusat Mata Pencaharian" %}</a> / {{ livecenter.name }}</h2>

{% easy_map lokasi 600 300 7 using "livecenter/map/show.html" %} 

{% if user.is_staff %}
    <p>
    <a href="#categoryselect" rel="facebox" class="uiButton uiTip" title="Add New Group"><span langtag="add-groups">{% t "Tambah kelompok" %}</span></a>
    </p>
    <br />
    <p>
    <a href="/livecenter/member/{{livecenter.key}}" class="uiButton uiTip" title="View Members Map"><span>{% t "Peta anggota" %}</span></a>
    <a href="/livecenter/map/{{livecenter.key}}" class="uiButton uiTip" title="View Groups Map"><span>{% t "Peta kelompok" %}</span></a><br />
    </p>
    <p>
    <br />
    <a href="/livecenter/nogroup/{{livecenter.key}}" class="uiButton uiTip" title="View Ungrouped Members"><span>{% t "Anggota tanpa kelompok" %}</span></a>
    <a href="/livecenter/nomobile/{{livecenter.key}}" class="uiButton uiTip" title="View Members haven't Mobile"><span>{% t "Anggota tanpa telepon selular" %}</span></a> 
    <a href="/livecenter/mobile_list/{{livecenter.key}}" class="uiButton uiTip" title="View List of Member's Mobile"><span>{% t "Daftar telepon selular" %}</span></a>
    <a href="/livecenter/lc_report/{{livecenter.key}}" rel="facebox" class="uiButton uiTip" title="View Report Livecenter's Product"><span>{% t "Buat laporan" %}</span></a>
    <a href="/location" class="uiButton uiTip" title="View, Edit and Delete Location"><span>{% t "Lokasi" %}</span></a>
    </p>
    <p>&nbsp;</p>
{% endif %}


<div class="tabber">
    <div class="tabbertab">
        <h2>{% t "Anggota" %}</h2>
        {% if user.is_staff %}
        <a href="/livecenter/people/{{livecenter.key}}" class="uiButton" rel="facebox">{% t "Tambah" %}</a>
        {% endif %}
        <ul class="uiListView icon-left"> 
            {% for item in members %}
                {% if item.groups %}
                    <li id="gr{{ item.key.id }}">
                        <span class="avatar normal"><img src="/img/{{ item.key }}" /></span>
                        <span class="block">
                        <span class="title"><a href="/people/show/{{ item.key }}" gid="{{ item.key }}" class="preview">{{ item.name }}</a></span> 
                        <span class="body">{{ item.member_type }}</span>
                        <span class="body">{{ item.district.dl_name }}</span>
                        </span>
                    </li>
                {% endif %}
            {% empty %}
                <li>{% t "Belum ada anggota" %}</li>
            {% endfor %}
        </ul>
        {% include "livecenter/paging.html" %}
    </div>

    <div class="tabbertab">
        <h2>{% t "Gugusan" %}</h2>
        {% if user.is_staff %}
            <a href="/livecenter/cluster/{{livecenter.key}}" rel="facebox" class="uiButton">{% t "Tambah" %}</a>
        {% endif %}
        <ul class="uiListView icon-left">
            {% for item in livecenter.clusters %}
              <li id="cr{{ item.key.id }}">
                {% if user.is_staff %}
                <span class="right"><a href="/cluster/delete/{{item.key}}?destination={{request.path}}" class="uiRemove acRemove uiTip" title=" {% t "Hapus" %} {{item.name}}"></a></span>
                {% endif %}
                <span class="avatar normal"><img src="/img/{{ item.key }}" /></span>
                <span class="block">
                    {% if user.is_staff %}
                    <span class="title"><a href="/group/show_cluster/{{ item.key }}" gid="{{item.key}}" class="preview" >{{ item.name }}</a></span>
                    <span class="body"><a href="/cluster/edit/{{ item.key }}?destination={{ request.path }}" gid="{{item.key}}" class="preview" rel="facebox">{% t "Ubah" %} {{ item.name }}</a></span>
                    {% else %}
                      <span class="title"> {{ item.name }}</span>
                    {% endif %}
                    <span class="body">{{ item.info }}</span>
                </span>
              </li>
            {% empty %}
              <li>{% t "Belum ada gugusan" %}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="tabbertab">
        <h2>{% t "Kelompok" %}</h2>
        <ul class="uiListView icon-left">
            {% for item in livecenter.groups %}
              <li id="gr{{ item.key.id }}">
                <span class="avatar normal"><img src="/img/{{item.key}}" /></span>
                <span class="block">
                  <span class="title"><a href="/group/show/{{ item.key }}" gid="{{ item.key }}" class="preview">{{ item.name }}</a></span> 
                  <span class="body">{{ item.info }}</span>
                </span>
              </li>
            {% empty %}
              <li>{% t "Belum ada kelompok" %}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="tabbertab">
        <h2>{% t "Keuangan mikro" %}</h2>
            <ul class="uiListView icon-left">
                {% for item in microfinance %}
                  <li id="gr{{item.key.id}}">
                    <span class="avatar normal"><img src="/img/{{ item.key }}" /></span>
                    <span class="block">
                      <span class="title"><a href="/microfinance/show/{{ item.key }}" gid="{{ item.key }}" class="preview">{{ item.name_org }}</a></span> 
                      <span class="body">{{ item.district.dl_name }} / {{ item.sub_district.dl_name}}</span>
                    </span>
                  </li>
                {% empty %}
                  <li>{% t "Belum ada data" %}</li>
                {% endfor %}
                {% if microfinance %}
                <li><a href="/livecenter/show_microfinance/{{livecenter.key}}" style="float:right;" title="{% t "Tampilkan yang ada di " %} {{livecenter.district.dl_name}}" >{% t "Tampilkan semua" %}</a></li>
                {% endif %}
            </ul>
    </div>
</div>

{% endblock %}

{% block sidebar %}

<div class="profile_pic">
    <img src="/img/{{ livecenter.key }}" />
</div>

<div class="sidebox">
    <h4><i class="icon_small contact"></i>{% t "Info kontak" %}
    {% if user.is_staff %} 
    <a href="/livecenter/edit/{{livecenter.key}}" rel="facebox" class="uiButton">{% t "Ubah" %}</a>
    {% endif %}
    </h4>
    <p><label>{% t "Alamat" %}</label>{{ livecenter.address }}</p>
    <p><label>{% t "Kabupaten" %}</label>{{ livecenter.district.dl_name }}</p>
    <p><label>{% t "Kecamatan" %}</label>{{ livecenter.sub_district.dl_name }}</p>
    <p><label>{% t "Desa" %}</label>{{ livecenter.village.dl_name }}</p>
    <p><label>{% t "Koordinat GPS" %}</label><span class="gps">{{ livecenter.geo_pos }}</span></p>
</div>

<div class="sidebox">
    <h4><i class="icon_small user"></i><strong>{% t "Jumlah anggota" %}</strong>: {{ members_count }}</h4>
    <h4><i class="icon_small category"></i><strong>{% t "Jumlah gugusan" %}</strong>: {{ livecenter.clusters.count }}</h4>
    <h4><i class="icon_small group"></i><strong>{% t "Jumlah kelompok" %}</strong>: {{ livecenter.groups.count }}</h4>
</div>

<div class="sidebox">
    <h4><i class="icon_small category"></i>{% t "Kategori" %}
    {% if user.is_staff %} 
    <a href="/livecenter/category/{{livecenter.key}}" rel="facebox" class="uiButton">{% t "Ubah" %}</a>
    {% endif %}
    </h4>
    {% if livecenter.category %}
      <ul class="uiListView icon-left-small">
        {% for item in livecenter.categories %}
          <li>
            <span class="icon"><img src="/img/{{ item.key }}" class="small" /></span>
            <span class="title">{{ item.name }}</span>
            <span class="body">{{ item.description }}</span>
          </li>
        {% empty %}
          <li>{% t "Belum ada kategori" %}</li>
        {% endfor %}
      </ul>
    {% endif %}
</div>

<div class="sidebox">
    <h4><i class="icon_small home"></i><strong>{% t "Pusat mata pencaharian yang terkait" %}</strong></h4>
    <ul class="uiListView icon-left-small">
        {% for item in related_livecenter %}
            <li>
              <span class="icon"><img src="/img/{{ item.key }}" class="small" /></span>
              <span class="title"><a href="/livecenter/show/{{ item.key }}">{{ item.name }}</a></span>
              <span class="body">{{ item.district.dl_name }}</span>
            </li>
        {% empty %}
            <li>{% t "Belum ada" %}</li>
    {% endfor %}
</ul>
</div>


{% endblock %}
