{% extends 'base.html' %}
{% load lang %}
{% load livecenter %}

{% block extra-head %}
<link rel="stylesheet" type="text/css" href="/stylesheets/form.css" />
{% endblock %}

{% block title %}{% if form.instance.id %}{{ form.instance.description }}{% else %}{% t "Transaksi baru" %}{% endif %}{% endblock %}

{% block content %}
<h2>
    {% if form.instance.id %}
    {% t "Transaksi" %} {{ form.instance.description }}
    {% else %}
    {% t "Transaksi baru" %}
    {% endif %}
</h2>
{{ form.non_field_errors }}
<form action="{{request.path}}?{{request.GET|dictquery}}" method="POST" enctype="multipart/form-data">
    {{ form.person }}
    <div class="fieldset">
        {% formfield form.day %}
    </div>
    <div class="fieldset">
        {% formfield form.description %}
    </div>
    <div class="fieldset">
        {% formfield form.nominal %}
    </div>
    <div class="submit-wrapper">
        <input type="submit" value="{% t "Simpan" %}" />
        {% if form.instance.id %}
        <input type="submit" name="delete" value="{% t "Hapus" %}" />
        {% endif %}
    </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
    document.getElementById("id_day").focus();
</script>
{% endblock %}
